<h1> Editando:{{user.name}}</h1>
<form action="/users/update" method="POST" class="from">
 <input type="hidden" name="id" value="{{user.id}}">
    <div class="from-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Informe o nome do Usuário:" value="{{user.name}}">
    </div>
    <div class="from-control">
        <label for="occupation">Profissão:</label>
        <input type="text" name="occupation" placeholder="Informe a profissão do Usuário:" value="{{user.occupation}}" > 
    </div>
    <div class="from-control  form-checkbox">
        {{#if user.newsletter}}
        <input type="checkbox" name="newsletter" checked>
        {{else}}
          <input type="checkbox" name="newsletter">
        {{/if}}
        <label for="newsletter">Enviar promoções:</label>
    </div>
    <input type="submit" value="Editar">
</form>
<div class="address-container">
    <h2> Endereços:</h2>
 <form action="/address/create" method="POST">
    <input type="hidden" name="UserId" value="{{user.id}}" >
    <div class="form-control">
        <label for="street">rua:</label>
        <input type="text" name="street" placeholder="Informe sua rua:">
    </div>
     <div class="form-control">
        <label for="number">Numero:</label>
        <input type="text" name="number" placeholder="Informe o número de sua resisdência:">
    </div>
     <div class="form-control">
        <label for="city">Cidade:</label>
        <input type="text" name="city" placeholder="Informe o nome de  sua cidade:">
    </div>
     <div class="form-control">
        <label for="state">Estado:</label>
        <input type="text" name="state" placeholder="Informe o nome do seu Estado:">
    </div>
    <input type="submit" value="Incluir endereço">
 </form>
 <div class="address-list">
    <h2>Lista de Endereços: </h2>
    {{#each user.Addresses}}
     <p> #{{this.id}} - {{this.street}} - {{this.city}} - {{this.state}}</p>
    {{/each}}
 </div>
</div>