 <h1> OLa handlebars</h1>
 <p>Alguns textos </p>
 <p>Meu nome é {{user.name}} {{user.surname}}, tenho {{user.age}} anos ,sou {{user.profissao}};</p>
 <p>
    meu pensamento " {{palavra}}  ".
 </p>
 <marquee> Layout com handlebars </marquee>